.card {
    font-family: arial;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
}

.big {
    font-size: 30px;
}

.uppercase {
    text-transform: uppercase;
}

.mot {
    font-weight: bold;
    color: rgb(210, 34, 45);
    text-align: left;
}

.domaine {
    background-color: rgb(255, 176, 96);
    color: black
}

.definition {
    background-color: rgb(255, 255, 0);
    color: black
}

.mobile .definition.night_mode {
    color: black
}

.exemple {
    quotes: "«" "»" "\"" "\"";
}

.auteur {
    font-variant: small-caps;
    font-size: 0.9em;
    text-transform: capitalize;

}

.exemple_total {
    border: thick double #32a1ce;
    background-color: rgba(220, 220, 220, 0.322);
    text-align: center;
    border-radius: 20px;
    padding: 10px
}

.references_citation {
    text-align: right;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

.mobile .card {
    margin-left: 0%;
    margin-right: 0%
}
